*{
    padding:0px;
    margin:0px;
}

h1 {
    text-align:center;
}
main {
      margin-top:0px;
      margin-left:20%;
      margin-right:20%;
      background-color: #1c1c1c;
      color: #d4d4d4; 
     
}
body {
      font-family:roboto;
}
