*{
    padding:0px;
    margin:0px;
    
}
html {
    background-color: #1c1c1c;
    color: #d4d4d4; 
}
h1 {
    text-align:center;
    font-size:40px;
    padding-top:20px;
}
main {
      margin-top:0px;
      margin-left:20%;
      margin-right:20%;
     
}
body {
      font-family: 'Roboto', sans-serif;
}
